*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
  font-size: large;
}

body {
  clear: both;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(./img/fundo.png);
  background-repeat: no-repeat;
  background-repeat: round;  
}

.logo {
  clear: both;
  display: flex;
  align-content: center;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
  margin-top: 29px;
}

.btn {
  background-color: hsla(0, 83%, 60%, 0.986);
  border: 2px solid hsl(200, 100%, 30%);
  border-radius: 15px;
  padding: 1px 15px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}
